.not-found {
  height: 100vh;

  &-title {
    font-size: 3rem;

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }

  &-sub {
    font-size: 2rem;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
}
