.feature-card {
  background-color: darken($main-blue, 30%);
  height: 8rem;
  cursor: pointer;

  &:hover {
    @include hover($main-blue, white);
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  p {
    font-size: 1.5rem;

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
}
