.feature-card {
  background-color: darken($main-blue, 30%);
  height: 8rem;
  cursor: pointer;

  &:hover {
    @include hover($main-blue, white);
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

@import "react-alice-carousel/lib/scss/alice-carousel.scss";
