@import "react-alice-carousel/lib/scss/alice-carousel.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cart-page,
.competition-page,
.seminar-workshop-page,
.scholarship-page,
.recommendation-page {
  background-color: darken($main-blue, 30%);

  &-content {
    min-height: 100vh;
  }
}
