.navbar {
  background-color: white;
  height: 5rem;

  &-brand {
    line-height: 1;
    span {
      color: $main-blue;
    }
  }

  &-nav {
    .nav-link {
      color: black;

      &:hover {
        @include hover(null, black, true);
      }
    }
  }
}
