.navbar {
  background-color: white;
  height: 5rem;

  &-collapse {
    background-color: white;

    @include media-breakpoint-down(md) {
      height: 250px;
    }
  }

  &-brand {
    line-height: 1;
    cursor: pointer;

    span {
      color: $main-blue;
    }
  }

  &-nav {
    .nav-link {
      color: black;

      &:hover {
        @include hover(null, black, true);
      }
    }
  }

  &-feature-dropdown {
    @include media-breakpoint-up(md) {
      margin-left: 220px;
    }
  }
}
