.partner {
  min-height: 40vh;

  &-image__wrapper {
    img {
      width: 8rem;
      height: 8rem;

      @include media-breakpoint-down(md) {
        margin: 5px;
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
